<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Hello World - Google  Web Search API Sample</title>
  <script src="https://www.google.com/jsapi"
          type="text/javascript"></script>
  <script language="Javascript" type="text/javascript">
      //<!

      google.load('search', '1');

      function OnLoad() {
          // Create a search control
          var searchControl = new google.search.SearchControl();
          $(".gs-snippet").empty();
          // Add in a full set of searchers
          var localSearch = new google.search.LocalSearch();
          searchControl.addSearcher(localSearch);
          searchControl.addSearcher(new google.search.WebSearch());
      //#searchControl.addSearcher(new google.search.VideoSearch());
          searchControl.addSearcher(new google.search.BlogSearch());
          searchControl.addSearcher(new google.search.NewsSearch());
          searchControl.addSearcher(new google.search.ImageSearch());
          searchControl.addSearcher(new google.search.BookSearch());
          searchControl.addSearcher(new google.search.PatentSearch());

          // Set the Local Search center point
          localSearch.setCenterPoint("New York, NY");

          // tell the searcher to draw itself and tell it where to attach
          searchControl.draw(document.getElementById("searchcontrol"));

          // execute an inital search
          searchControl.execute("VW GTI");
          $(".gs-snippet").empty();
      }

      google.setOnLoadCallback(OnLoad);
      $(".gs-snippet").empty();
      //]]>
  </script>

</head>
<body>
<div id="searchcontrol">Loading</div>
</body>
</html>

<style>
  .gs-snippet, .gs-visibleUrl, .gsc-resultsHeader, .gsc-cursor-box,.gs-publishedDate, .gs-publisher,.gs-publisherDate{
      display: none;
  }
</style>